<% layout("/layout/boilerplate.ejs") -%>
<form method="post" action="/listing/edit/<%= hotelData._id %>?_method=PUT">
  <h1>Enter Details</h1>
  <div class="row">
    <label class="form-label" for="title">
      <input
        class="form-control"
        type="text"
        name="title"
        id=""
        placeholder="hotel title"
        value="<%=hotelData.title%>"
      />
    </label>
    <label class="form-label" for="image">
      <input
        class="form-control"
        type="text"
        name="image"
        id=""
        placeholder="image url"
        value="<%=hotelData.image%>"
      />
    </label>
    <label class="form-label" for="description">
      <textarea
        name="description"
        rows="5"
        columns="7"
        placeholder="description"
        id=""
        class="form-control"
      >
<%= hotelData.description %></textarea
      >
    </label>
    <label class="form-label col-8" for="location">
      <input
        class="form-control"
        type="text"
        name="location"
        placeholder="location"
        id=""
        value="<%=hotelData.location%>"
      />
    </label>
    <label class="form-label col-4" for="country">
      <input
        class="form-control"
        type="text"
        name="country"
        placeholder="country"
        id=""
        value="<%=hotelData.country%>"
      />
    </label>
    <label class="form-label" for="price">
      <input
        class="form-control"
        type="number"
        name="price"
        placeholder="price"
        value="<%=hotelData.price%>"
      />
    </label>
    <button type="submit" class="btn mx-auto d-block form-submit-btn">
      submit
    </button>
  </div>
</form>
