<% layout("/boilerplate/navbar.ejs") -%>

<h1><%= hotelData.title %></h1>
<div>
  <p><%= hotelData.description %></p>
  <span><%= hotelData.price %></span>
  <span><%= hotelData.location%></span>
  <span><%= hotelData.country %></span>
  <form action="/listing/edit/<%= hotelData._id %>" method="get">
    <button type="submit">edit</button>
  </form>

  <form
    method="POST"
    action="/listing/delete/<%= hotelData._id %>?_method=DELETE"
  >
    <button type="submit">delete</button>
  </form>
</div>
