<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home page</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1>Quora</h1>
    <% for ( let post of posts) { %>
    <div>
      <h3><%= post.username %></h3>
      <p><%= post.content %></p>
      <br />
      <button>
        <a href="http://localhost:8080/post/<%= post.id %>">view post</a>
      </button>
      <button>
        <a href="http://localhost:8080/post/edit/<%= post.id %>">edit post</a>
      </button>
      <br />
      <form
        style="padding: 3px"
        action="/<%= post.id %>?_method=DELETE"
        method="post"
      >
        <button>DELETE</button>
      </form>
    </div>
    <% } %>

    <button class="create_post">
      <a class="post_link" href="http://localhost:8080/post">create post</a>
    </button>
  </body>
</html>
